.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 8px;
  color: var(--fg-opacity-color);
  border-radius: 5px;
  svg {
    font-size: var(--font);
  }
  margin-bottom: 10px;
}

.container:hover {
  background-color: var(--bg-opacity-color);
}
